<div align="right">   

<% if user_signed_in? %>
  <b>Signed in as: <%= current_user.email %></b>
  <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %>
<% else %>
  
  	<%= link_to 'Sign In', new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %><br />
  </div>

<% end %>