<%@page_title="Delete" %>

<%= link_to("<<Back to List", {:action => 'list'} )%>


	
<div class="center">
	<h1 align="center">Delete User</h1>
	
	<%= form_for(@user, :url => {:action => 'destroy',:id=> @user.id}) do |f| %>
	<p >Are you sure to delete??</p>
	<p ><%=@user.name%></p>
	<div >
			<%= submit_tag("Delete User")%>
	</div>
	
	<% end %>
</div>
