<%@page_title="Home" %>
<div class="mh">
<h2 class="center">Welcome</h2>
<div class ="center">
<%= link_to("Home ",'# ')%>&nbsp;|
<%= link_to("Users List",'users/list')%>
</div>
<br />	
<div>
	<%=image_tag("users.jpg", :size =>'780x350')%>
</div>
</div>
